Package: libfox-c.dev
Source: fox-c
Version: 1.0.0-3
Architecture: amd64
Maintainer: Milan Patel <milanp3011@unknown>
Installed-Size: 69
Section: libs
Priority: optional
Homepage: https://github.com/milanpatel3011/FOX-C.git
Description: A custom library for Fox-C
 This library provides functionality for Fox-C.
